* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font-family: "ibm", sans-serif;
/*  font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  color: #231F20;
/*
  margin-left: auto;
  margin-right: auto;
*/
  margin-top: 2rem;
  background-color: #fafafa;
  max-width: 1200px;
}
header {
  position: fixed;
  top: 0;
/*
  bottom: 0;
  left: 0;
*/
  vertical-align:top;
  width: 9rem;
  text-align: center;
  padding-top: 2rem;
}
p {
  line-height: 1.5rem;
}
strong {
  font-weight: 500;
}
header img {
  margin:0 auto;
  width: 3rem;
}
a {
  color: #256fb7;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav ul li {
  margin-top: 3rem;
  font-size: 1.2rem;
}
nav a {
  padding-bottom: 0.1rem;
  text-decoration: none;
  color: #231F20;
}
nav li a:hover {
  border-bottom: 2px solid #231F20;
}
main nav a:hover {
  border-bottom: 1px solid #231F20;
}
nav a {
  border-bottom: none;
}
main,footer {
  margin-left: 9.5rem;
  padding-right: 15px;
}
main {
  padding-top: 0.5rem;
}
h1 {
  margin-top: 0.25rem;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  max-width: 36rem;
  color: black;
}
h3 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.grid-item h3 {
  margin-top: 0;
}
.title {
  font-size: 2.6rem;
  font-weight: 400;
}
.grid-container {
  margin-top: -.5rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.index-grid {
  margin-bottom:3rem;
}
.grid-item {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 16rem;
  margin-right: 2rem;
  margin-top: 2rem;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
/*
  .index-grid .grid-item {
    margin-top: 0rem;
  }
*/
.grid-item .spacer {
  padding-bottom: 0;
}
.grid-item img, video {
  width: 100%;
  position: relative;
  display: block;
}
.grid-item img:hover, video:hover {
  opacity: 0.8;
}
.grid-item h3 {
  margin-bottom: 0.6rem;
}
.full-image {
  width: 100%;
}
ul {
  padding-left: 1.5rem;
}
summary {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
  font-weight: 300;
  color: black;
}
footer {
  font-size: 0.75rem;
  margin-top: 4rem;
  line-height: 1rem;
/*
  font-weight: 400;
  font-family: "ibm plex sans condensed", "ibm plex sans", sans-serif;
*/
}
.email {
  font-size: 1.3rem;
  font-weight: 400;
}
.selected {
  font-weight: 400;
  border-bottom: 2px solid #231F20;
}
.tag-selected {
  font-weight: 500;
  border-bottom: 2px solid #231F20;
}
.nav-spacer {
  padding: 0 .95rem;
}
.camera {
  display: inline-block;
  vertical-align: middle;
  padding-top: .3rem;
  padding-left: .2rem;
  width: 2rem;
}
.arrow-right {
  width: .8rem !important;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: .2rem;
}
.see {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.bottom {
  margin-top: auto;
  padding-top: 1rem;
}
.grid-caption:hover {
  opacity: 1;
}
.grid-caption {
  height: 100%; width: 100%;
  position: absolute;
  bottom: 0; 
  opacity: 0.0; 
  z-index: 1;
  color: #231F20;
}
.grid-caption div {
  padding: 0.2rem;
  background-color: #fafafa;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}
.grid-caption p {
  margin-bottom: 0;
  margin-top:0.6rem;
  line-height: 1.25rem;;
}
.date {
  font-size: 0.7rem;
/*  font-family: "Ibm plex sans condensed", "ibm plex sans", sans-serif;*/
}
.meta {
  font-size: 0.8rem;
  line-height: 1.1rem;
/*
  font-weight: 400;
  font-family: "Ibm plex sans condensed", "ibm plex sans", sans-serif;
*/
}
.description {
  font-size: 0.95rem;
  line-height: 1.25rem;
  max-width: 40rem;
/*  font-style: italic !important;*/
  margin-top: 0.5rem;
}
.caption {
  padding-right: 0.25rem;
}
article {
  width: 100%;
  max-width: 40rem;
  line-height: 1.5rem;
/*  margin-top:2rem;*/
}
/*
article h2 {
  margin-top: 3rem
}
*/
#project-notes {
  margin-top: 3rem
}
article img {
  width: 100%;
/*  margin: 1rem 0;*/
}
main nav p {
  margin-top: 0.4rem;
}
main nav p a {
  white-space: nowrap;
/*
  font-family: "ibm plex sans condensed", "ibm plex sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
*/
}
hr {
  border-top: 1px solid #231F20;
  margin-top: 3rem;
}
.tag-description {
  margin-top: 2rem;
}
#headshot {
  width: 100%;
  max-width: 200px;
}
#logo-mobile {
  width: 1.5rem;
  float: right;
  vertical-align: middle;
  margin-top: -.15rem;
  display: none;
}
#work-header {
  margin-bottom:-1rem;
}
#contact-line {
  margin-top: 3rem;
}
.blurb {
  margin: .2rem 0;
  font-size: .95rem;
}
.blog-entry {
  margin-bottom: 1rem;
}
.blog-list {
  margin-top: 2rem;
}
@media (max-width: 1050px) {
  .blog-list {
    margin-top: 1rem;
  }
  .blog-entry {
    margin-bottom: 1rem;
  }
  #contact-line {
    margin-top: 2rem;
  }
  #work-header {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .index-grid {
    margin-bottom:2rem !important;
  }
  #logo-mobile {
    display: inline-block;
  }
  #headshot {
    max-width: 150px;
  }
  .tag-description {
    margin-top: 1rem;
  }
  .nav-spacer {
    padding: 0 0.25rem;
  }
  .grid-item {
    width: 33.3%;
    height: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-item .spacer {
    padding-bottom: 100%;
    position: relative;
  }
  .grid-item img, video {
    position: absolute;  
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
   header {
    position: relative;
    width: 100%;
    text-align: left;
  }
   main, footer {
    margin-left: 0rem;
    padding-right: 0;
  }
  main {
    padding-top: 0;
  }
  body {
    padding: 0 0;
    margin: 0 0;
  }
  .grid-caption {
    display: none;
    padding-right: 0;
  }
  main nav {
    padding: 0 0.5rem;
  }
  .grid-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer {
    margin:1rem 0;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 3rem;
    margin-top: 0;
  }
  #logo-full {
    display: none;
  }
  header nav {
    padding-right: 0.5rem;
    line-height: normal;
  }
  header, main nav {
    padding:0 0.35rem;
  }
  footer, h1, article, .meta, .description, .blurb, .padded-mobile {
    padding:0 0.25rem;
  }
  article {
    margin-bottom: 2rem;
  }
  .tag-description {
    margin-bottom: 1rem;
  }
  header {
    border-bottom: 1px solid #231F20;
  }
/*
  article p {
    line-height: 1.35rem;
  }
*/
  .description, article p, article ul, article l, .blurb {
    font-size: 0.85rem;
    line-height: 1.2rem;
  }
  article {
    font-size:.95rem;
    line-height: 1.3;
  }
  .description {
    line-height: 1.1rem;
  }
  
/*
  article p {
    line-height: 1.25rem;
  }
*/
  
/*
  article h2 {
    margin-top: 2rem
  }
*/
  #project-notes {
    margin-top: 2rem
  }
  h2 {
    margin-top: 1.5rem;
  }
  main nav {
    border-bottom: 1px solid #231F20;
/*    padding-top: 0.5rem;*/
  }
  main nav p {
    margin-top: 1rem;
  }
  h1 {
/*    border-top: 1px solid #231F20;*/
/*    padding-top: 0.75rem;*/
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .meta {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
@media (max-width: 600px) {
  .grid-caption p {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  header nav ul li {
    margin-right: 1.5rem;
    font-size: 1.1rem;
  }
  main nav {
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.7rem;
  }
  .camera {
    padding-top: .2rem;
    padding-left: .1rem;
    width: 1.75rem;
  }
/*
  #logo-mobile {
    margin-right: 1.5rem;
  }
*/
}


/* Styling for lazy loaded images */

.lazy {
  opacity:0;
  transition: opacity 1s;
}

.lazy.initial {
  transition: none !important;
}
.lazy.initial,
.lazy.loaded,
.lazy.error {
  opacity: 1 !important;
}